body{
    padding: 30px;
}

header{
    padding: 5px;
}

header a{
    font-size: xx-large;
    text-decoration: none;
    color: black;
}

.mode{
  float: right;
}

nav{
    margin-top: 5px;
    margin-bottom: 20px;
}

nav ul{
    list-style: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
}

nav ul li{
    display: inline;
    margin: 2.5em;
}

nav ul li a{
    text-decoration: none;
    line-height: 3em;
    color: black;
}

footer{
  clear: both;
  text-align: center;
  padding: 1em 0px;
}
